# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/node_modules/
/bower_components/

# misc
/.sass-cache/
/coverage/
/*.lock
/*.log

# IDE
/.idea/
/*.iml
